extends layout

block content
  #infos
    h1 Day #{infos.date} &mdash; #{infos.campsiteName}
    .row
      .col-xs-6.blog
        p
        .distance
          p 
          i Altitude: #{infos.elevation} ft.
          p 
          i Total distance so far: #{infos.miles} miles.
        .weather
          p
          i.fa.fa-sun-o  
          i Sunny! 
        p

        case infos.tripReportFile
          when 1
            include reports/1
          when 2
            include reports/2
          when 3
            include reports/3
          when 4
            include reports/4
          when 5
            include reports/5
          when 6
            include reports/6
        p
        a(href="#{infos.tripReportUrl}") Read more

      .col-xs-6
        img.img-responsive(src="/photos/#{infos.date}.jpg")

